{% extends 'main.html' %}
{% load static %}

{% block content %}

        <!-- page content -->
        <div class="page-content">

            <!-- Inner Banner -->
            <section class="inner-banner">
                <div class="titlebar-main">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12">
                                <h1 class="inner-page-title">BULK SUPPLY AND DISTRIBUTION</h1>
                            </div>
                            <div class="col-lg-6 col-md-12 text-lg-right">
                                <nav aria-label="breadcrumb" class="breadcrumb-section d-flex justify-content-center  justify-content-lg-end">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Kayode's Cocoa</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- banner end -->

              <!-- Service Image -->
  <div class="pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img
            src="{% static 'images/bulk/bulk-supply2.jpg' %}"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <!-- Service Image end -->

  <!-- Process -->
  <div class="pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4>Bulk Supply and Distribution: Reliable, Consistent, and Timely</h4>
          <p>
            At Kayode's Cocoa, we understand the demands of large-scale operations. Our bulk supply and distribution services are designed to provide you with high-quality cocoa products in the quantities you need, when you need them. Whether you're in manufacturing, wholesale, or a growing artisan business, our streamlined process ensures that you receive premium cocoa consistently and efficiently.
          </p>
          <h4>Our Process</h4>
          <ul>
            <li>
              <strong>Sourcing & Quality Control:</strong> We begin by sourcing the finest cocoa beans directly from sustainable farms in Nigeria. Every batch undergoes rigorous quality control to ensure that only the best beans are selected, guaranteeing a product with superior flavor and purity.
            </li>
            <li>
              <strong>Processing & Packaging:</strong> Once selected, the cocoa beans are processed using advanced techniques such as roasting, fermenting, and grinding while preserving the natural integrity of the cocoa. Our state of the art packaging solutions ensure that the cocoa remains fresh and protected throughout its journey.
            </li>
            <li>
              <strong>Efficient Logistics:</strong> Our dedicated logistics team manages the entire distribution process. With strong partnerships and a reliable transport network, we ensure that your bulk orders are delivered on time and in optimal condition. We offer flexible shipping options to suit your business needs, from local deliveries to international distribution.
            </li>
            <li>
              <strong>Customizable Solutions:</strong> We understand that every business is unique. That’s why we offer flexible packaging options and delivery schedules tailored to your operational needs. Whether you require regular shipments or large one-time orders, our system is designed to accommodate your specific requirements.
            </li>
            <li>
              <strong>Customer Support:</strong> Our team of experts is always available to provide assistance and answer any questions you may have. From placing an order to tracking your shipment, we are committed to ensuring a seamless experience for our customers.
            </li>
          </ul>

          <br>

          <h4>Why Choose Our Bulk Supply and Distribution?</h4>
          <ul>
            <li><strong>Consistent Quality:</strong> Every bulk order is subjected to strict quality checks, ensuring uniformity and premium taste.</li>
            <br>
            <li><strong>Scalability:</strong> Our operations are designed to meet both small-scale and large-scale demands, adapting to your business growth.</li>
            <br>
            <li><strong>Timely Delivery:</strong> Our efficient logistics and distribution network guarantees on-time delivery, every time.</li>
            <br>
            <li><strong>Customized Solutions:</strong> We offer various packaging and shipping options to match your specific requirements.</li>
            <br>
            <li><strong>Expert Support:</strong> Our team of professionals is dedicated to providing personalized service and support throughout your order process.</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Process end -->


{% endblock content %}