<section class="section-md bg-lightgrey">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="section-title text-center">
                    <h4 class="subheading skincolor">MEET OUR TEAM</h4>
                    <h2>THE MOST QUALIFIED, <strong>SKILLFUL<br/>AND PROFESSIONAL STAFF.</strong></h2>
                    <p>We offers a complete range of eye care services including Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="teambox align-items-center teambox-style-3 d-flex">
                    <div class="teambox-thumbnail">
                        <img src="images/team/08.jpg" class="img-fluid animation" alt="">
                    </div>
                    <div class="col-lg-6">
                        <div class="teambox-content">
                            <div class="team-title">
                                <h4><a href="team-single.html">Anna Winds</a></h4>
                            </div>
                            <div class="team-position skincolor">Optegra eye</div>
                            <div class="blog-desc">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <span class="team-email">
                                <i class="skincolor labtechco-icon-mail-alt"></i><a href="#">team@optico.com</a>
                            </span>
                            <div class="team-member-social-links">
                                <ul class="team-social-links">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-md-30">
                <div class="teambox align-items-center teambox-style-3 d-flex">
                    <div class="teambox-thumbnail">
                        <img src="images/team/07.jpg" class="img-fluid animation" alt="">
                    </div>
                    <div class="col-lg-6">
                        <div class="teambox-content">
                            <div class="team-title">
                                <h4><a href="team-single.html">Elizabeth Blackwell</a></h4>
                            </div>
                            <div class="team-position skincolor">lens replacement</div>
                            <div class="blog-desc">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <span class="team-email">
                                <i class="skincolor labtechco-icon-mail-alt"></i><a href="#">team@optico.com</a>
                            </span>
                            <div class="team-member-social-links">
                                <ul class="team-social-links">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team end -->